
li:hover {
    border-bottom: 2px solid #aec178a2; /* Establece un borde inferior de 2 píxeles de grosor y color negro */
    padding-bottom: 1px; 
    color: #aec178a2;
}
    .pt-5{
      margin-top: 30%;
    }
    
    img{
    width: 3vh;
    }
    .salir{
    
    border-radius: 4px;
    
    list-style: none;
    margin-right: 5px;
    text-align: right;
    }
    .logo{
    width: 15vh;
    }

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
  }
  .container {
      max-width: 500px;
      margin: 50px auto;
      padding: 20px;
      border-radius: 5px;
  }
  h2 {
      margin-top: 0;
  }
  .btn-delete {
      background-color: red;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
  }
  .btn-delete:hover {
      background-color: darkred;
  }
  input[type="text"] {
      width: calc(100% - 16px);
      padding: 8px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
  }