body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 200, 210, 0.396);

}

.fondo {
    display: flex; flex-direction: column;
    background-color: pink;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 2%;
    margin-right: 10%;
    margin-left: 10%;
}

.imagen {
    width: 200px;
    border-radius: 50%;

}

li {
    font-size: 20px;
}


h1 {
    margin-left: 30px;

}

h2 {
    font-size: xx-large;
}

.contenedor {
   display: flex; flex-direction: column;
    display: flex;
    align-items: center;
}


p {
    font-size: 20px;
}

a {
    color: brown;
}



table {
   
    background-color:rgba(255, 235, 205, 0.341);
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
}

.Tabla {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

table,
th,
td {
   
    border: 1px solid black;
}

th, td {
    
    padding: 8px;
    text-align: left;
}
th{
    background-color: blanchedalmond;
}
ul{
    list-style-type:circle;
}