body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 200, 210, 0.396);

}
.fondo{
    background-color: pink;
    padding-left: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10%;
    margin-right: 10%;
    margin-left: 10%;
}

.imagen{
    width: 200px;
    border-radius: 50%;
   
}
 h2{
 
    text-align: center;
}
h1{
    margin-left: 30px;

}

h2{
    font-size: xx-large;
}

.contenedor{
    display:flex;
    align-items: center;
}


p{
font-size: 25px;
}
a{
    color:brown;
}
.listas{
    font-size: 25px;
}