body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #EFEFEF;
}

.login-contenedor {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-contenedor h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.login-contenedor input[type="text"],
.login-contenedor input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-contenedor input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #57c3fc;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-contenedor input[type="submit"]:hover {
    background-color: #32ADF0;}

    