body {
    background-color: rgba(152, 152, 152, 0.538);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.Cuerpo {
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
   margin-top: 50px;
   margin-left: 50px;
   margin-right: 50px;
}

imagenUni{
    padding-left: 70px;


}

img {
    width: 80px;

}

table, th{
    padding-right: 100px;
    margin-top: 35px;
    margin-left: 70px;
    margin: 32px;
    
    
}

table,
th,
td {
    border-collapse: collapse;
    border: 1px solid black;


}

td {
    border: 1px solid orange;
}

h2 {
    text-align: center;
}

.p2 ,
.p3,
.p4,
.p5 {
    text-align: center;
}

.sangria {
    margin-left: 45px;
}

.tabla{
width: 93%;
}


th {
    background-color: yellow;
}



table tr:nth-child(even) {
    background-color: rgba(255, 68, 0, 0.13);
}

table tr:nth-child(odd) {
    background-color: white;

}

.espacio{
    padding-top: 115px;
}

.p8{
    margin-left: 5%;
    text-align:justify ;
    line-height: 2.0em;
}

.mail{
    color: black;
}
.linkUni{
    color: yellow;
    background-color: red;
    border-radius: 5%;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.p9{
    color: green;
    margin-left: 5%;
}
.folio{
    color: red;
    margin-left: 5%;
}
.centro{
    text-align: center;

}
.espaciofinal{
    margin-top: 50px;
}
th table{
    text-align: center;
}